<footer>
    <div class="border-t-2 border-yellow-500">
        <div class="py-3 container flex relative flex-col-reverse md:flex-row mx-auto w-4/5 justify-between md:w-2/3">
            <!-- Contact Column -->
            <div class="flex-col py-5 space-y-1">
                <div class="text-2xl">
                    Carlos
                </div>
                <!-- Email -->
                <a href="mailto:me@carlos.soy" class="flex items-center"><img class="w-5" src="{{"assets/img/icon/mail.svg" | relative_url}}"
                        alt="Mail">me@carlos.soy</a>
                <!-- LinkedIn -->
                <a href="https://www.linkedin.com/in/soycarlos/" target="_blank" class="flex items-center">
                    <img class="w-5 h-4" src="{{"assets/img/icon/linkedin-logo.png" | relative_url}}" alt="LinkedIn">LinkedIn
                </a>
                <!-- GitHub -->
                <a href="https://github.com/SoyCarlos" target="_blank" class="flex items-center"><img class="w-5"
                        src="{{"assets/img/icon/github.svg" | relative_url}}" alt="GitHub">GitHub</a>
                <!-- Twitter -->
                <a href="https://twitter.com/SoyCarlosEO" target="_blank" class="flex items-center"><img class="w-5"
                        src="{{"assets/img/icon/twitter.svg" | relative_url}}" alt="Twitter">Twitter</a>
            </div>
            <!-- Newsletter Sign Up Column -->
            <div class="flex-col py-10 md:py-5 md:w-1/2">
                <div class="text-2xl">
                    Newsletter
                </div>
                <p class="block">Sign up to receieve updates whenever a new blog post goes up.</p>
                <script async data-uid="4a09d2d42a" src="https://awesome-mover-1.ck.page/4a09d2d42a/index.js"></script>
            </div>
        </div>
</footer>