--- 
import Layout from '../layouts/Primary.astro';
---
<Layout title="Carlos E. Ortega">
	<main class="flex items-center justify-center min-h-screen">
		<div class="text-center"><a href="https://github.com/soycarlos" target="_blank" class="text-7xl underline font-black">GitHub</a></div>
	</main>
</Layout>