<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

{% include head.html %}

<body>
  {% include header.html %}

  <div class="flex flex-col-reverse justify-center items-center lg:flex-row">
    <div class="text-left w-4/5 pb-10 m-auto lg:pb-0 lg:m-5 lg:w-3/5">
      <div class="flex flex-col">
        {% for post in site.posts %}
        <div class="flex flex-col py-5">
          <a href="{{ post.url | replace:".html","" | prepend: site.baseurl }}" class="text-3xl font-bold">{{post.title}}</a>
          <a href="" class="text-xl">{{post.subtitle}}</a>
          <a href="" class="text-sm">{{post.date-written}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include footer.html %}

  {% include foot.html %}
</body>

</html>