<!DOCTYPE html>
<!-- <html lang="{{ site.lang | default: "en-US" }}"> -->
<html lang="en-US">

  {% include head.html %}

  <body>
    {% include header.html %}

    <!-- Tailwind CSS for home page -->
    <div>
      <div class="text-2xl text-center pt-10">Hi I'm</div>
      <div class="text-4xl pb-5 text-center">Carlos Eduardo Ortega Santana</div>
    </div>

    <div class="flex flex-col-reverse justify-center items-center lg:flex-row">
      <div class="text-left w-4/5 pb-10 m-auto lg:pb-0 lg:m-5 lg:w-2/5">
        {{ content }}
      </div>
      <div class="w-3/5 m-auto py-10 relative lg:py-0 lg:w-96 lg:m-5">
        <img src="{{ page.hero.src }}" alt="{{ page.hero.alt }}">
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}  
  </body>
</html>