<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

{% include head.html %}

<body>
  {% include header.html %}

  <div class="flex flex-col-reverse justify-center items-center lg:flex-row">
    <div class="text-left w-4/5 pb-10 m-auto lg:pb-0 lg:m-5 lg:w-3/5 xxl:w-2/4">
      <div class="flex flex-col">
        <div class="text-3xl text-center font-bold">Notes & Ramblings</div>
        <div class="text-xl text-center">Generally too long for a tweet, and too short or unpolished for a blog post.</div>
        {% for note in site.notes %}
        <div class="flex flex-col py-5">
          <a href="{{ note.url | replace:".html","" | prepend: site.baseurl }}" class="text-3xl font-bold hover:underline">{{note.title}}</a>
          <a href="{{ note.url | replace:".html","" | prepend: site.baseurl }}" class="text-xl">{{note.subtitle}}</a>
          <a href="{{ note.url | replace:".html","" | prepend: site.baseurl }}" class="text-sm">{{note.date-written}} &bull; {{ note.reading_duration }} min read</a>
          <a href="{{ note.url | replace:".html","" | prepend: site.baseurl }}" class="text-md">{{ note.blurb }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include footer.html %}

  {% include foot.html %}
</body>

</html>