<!DOCTYPE html>
<html lang="en-US">

{% include head.html %}

<body>
  <script
    src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_b1c4b051d0d6249afec99585c8686f&disableSessionId"></script>
  {% include header.html %}

  <div class="flex flex-col-reverse justify-center items-center lg:flex-row">
    <div class="text-left w-4/5 pb-10 m-auto lg:pb-0 lg:m-5 lg:w-3/5">
      <div class="font-bold text-2xl md:text-3xl pt-5">{{page.title}}</div>
      <div class="md:text-xl">{{page.subtitle}}</div>
      <div class="text-sm">{{page.date-written}}</div>
      <div class="justify-center flex"><img src="{{page.hero_image | relative_url}}" alt="Hero Image" class=""></div>
      <div class="text-center">
        Photo by <a href="{{page.hero_image_owner_url}}" target="_blank" class="underline">{{page.hero_image_owner}}</a>
        on <a href="{{page.hero_image_location_url}}" target="_blank" class="underline">{{page.hero_image_location}}</a>
      </div>
      <div class="p-5">
        {{ content }}
      </div>
      <div data-lyket-type="clap" data-lyket-id="{{page.data_lyket_id}}"></div>
      <script defer src="https://cdn.commento.io/js/commento.js"></script>
      <noscript>Please enable JavaScript to load the comments.</noscript>
      <div id="commento"></div>
    </div>
  </div>

  {% include footer.html %}

  {% include foot.html %}
</body>

</html>