<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

{% include head.html %}

<body>
  {% include header.html %}

  <!-- Resume -->
  <div class="flex flex-col justify-center items-center">
    <!-- Image and Name -->
    <div class="w-4/5 pb-5 m-5 border-b-2 border-gray-400 lg:w-3/5 xxl:w-2/4">
      <img src="{{page.profile_pic.src | relative_url}}" alt="{{page.profile_pic.alt | relative_url}}"
        class="rounded-full w-1/2 pt-10 m-auto max-w-full h-auto md:w-1/3 lg:w-1/4">
      <div class="text-3xl text-center font-bold md:text-5xl">{{page.resume_name}}</div>
      <!-- Social Row -->
      <div class="flex items-center justify-center pt-3 space-x-3">
        <!-- Email -->
        <a href="mailto:me@carlos.soy" class=""><img class="w-5" src="{{"assets/img/icon/mail.svg" | relative_url}}"
            alt="Mail"></a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/soycarlos/" target="_blank" class="">
          <img class="w-5 h-4" src="{{"assets/img/icon/linkedin-logo.png" | relative_url}}" alt="LinkedIn">
        </a>
        <!-- GitHub -->
        <a href="https://github.com/SoyCarlos" target="_blank" class=""><img class="w-5" src="{{
        "assets/img/icon/github.svg" | relative_url}}" alt="GitHub"></a>
        <!-- Twitter -->
        <a href="https://twitter.com/SoyCarlosEO" target="_blank" class=""><img class="w-5" src="{{
        "assets/img/icon/twitter.svg" | relative_url}}" alt="Twitter"></a>
      </div>
    </div>
    <!-- Education -->
    <div class="m-5 text-left flex-col w-4/5 pb-5 border-b-2 border-gray-400 lg:w-3/5 xxl:w-2/4">
      <div class="text-2xl font-black">Education</div>
      {% for school in site.data.education %}
      <div class="pb-1">
        <div class="text-xl font-bold"> <a href="{{school.school_website | absolute_url}}" target="_blank">{{
            school.school }}</a></div>
        <div class="font-bold">{{ school.degree }} &bull; {{ school.graduation_date }}</div>
        <div class="text-sm">Relevant Coursework</div>
        <ul class="text-sm list-disc ">{{ school.course_work }}</ul>
      </div>
      {% endfor %}
    </div>
    <!-- Experience -->
    <div class="m-5 text-left flex-col w-4/5 pb-5 border-b-2 border-gray-400 lg:w-3/5 xxl:w-2/4">
      <div class="text-2xl font-black">Experience</div>
      {% for job in site.data.experience %}
      <div class="pb-1">
        <div class="text-xl font-bold hover:underline"> <a href="{{job.company_website | absolute_url}}"
            target="_blank">{{ job.company
            }}</a></div>
        <div class="text-sm">{{ job.position }} &bull; {{ job.location }} &bull; {{ job.duration }}</div>
        <ul class="text-sm list-disc md:text-base">{{ job.summary }}</ul>
      </div>
      {% endfor %}
    </div>
    <!-- Skills -->
    <div class="m-5 text-left flex-col w-4/5 pb-5 border-b-2 border-gray-400 lg:w-3/5 xxl:w-2/4">
      <div class="text-2xl font-black">Skills</div>
      {% for skill in site.data.skills %}
      <div class="pb-1">
        <div class="text-xl font-bold hover:underline"> {{skill.category}}</div>
        <ul class="text-sm list-disc md:text-base">{{ skill.skills_list }}</ul>
      </div>
      {% endfor %}
    </div>
    <!-- Projects & Leadership -->
    <div class="m-5 text-left flex-col w-4/5 pb-5 lg:w-3/5 xxl:w-2/4">
      <div class="text-2xl font-black">Leadership & Volunteering</div>
      {% for leader in site.data.leadership_volunteering %}
      <div class="pb-1">
        <div class="text-xl font-bold hover:underline"> <a href="{{leader.website | absolute_url}}"
            target="_blank">{{ leader.org
            }}</a></div>
        <div class="text-sm">{{ leader.role }} &bull; {{ leader.location }} &bull; {{ leader.duration }}</div>
        <div class="text-sm list-disc md:text-base">{{ leader.summary }}</div>
      </div>
      {% endfor %}
    </div>

  </div>



  {% include footer.html %}

  {% include foot.html %}
</body>

</html>