---
import {Content as AboutMe} from '../markdown/about.md';
---

<div>
  <div class="text-2xl text-center pt-10">Hi I'm</div>
  <div class="text-2xl pb-5 text-center md:text-4xl">
    Carlos Eduardo Ortega Santana
  </div>
</div>

<div class="flex flex-col-reverse justify-center items-center lg:flex-row">
  <div
    class="text-left w-4/5 pb-10 m-auto lg:pb-0 lg:m-5 lg:w-2/5 xl:my-5 xl:w-2/5 xxl:w-1/4"
  >
  <AboutMe />
  </div>
  <div class="w-3/5 m-auto py-10 relative lg:py-0 lg:w-96 lg:m-5 xl:w-1/5">
    <img src="carlos-notion.png" alt="Carlos' Notion Avatar" />
  </div>
</div>
