---
const { skills } = Astro.props;
---
<div class="pb-1">
    <div class="text-xl font-bold hover:underline"> {skills.data.category}</div>
    <ul class="text-sm list-disc">{ skills.data.skills_list }</ul>
</div>
